h1 {
  color: purple;
  font-size: 200%;
}

body{
    background-color: blue;
}

p {
    font-family: "Times New Roman"; 
    text-indent: 20px;
    margin-left: 10px;
    text-align: left;
}

#content {
    background-color: turquoise;
    max-width: auto;
    min-height: auto;
    padding: 10px;
    margin: 10px;
    border: dashed 5px #444444;
    font-size: 20px;
}